@model CovadisDashboard.Models.ApiModel

@{
    ViewData["Title"] = "Details";
}

@{
    if (Model.Name == null)
    {
        <h1>Error: no api configuration found with this id!</h1>
    }
    else
    {
        <h2>Details</h2>

        <div>
            <h4>Api Configuration</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Url)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Url)
                </dd>
            </dl>
        </div>
        <div>
            @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
            <a asp-action="Delete" id="@(Model.Id)" name="api" class="deleteButton">Delete</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
}

