@model CovadisDashboard.Models.WebsiteModel;

@{
    ViewData["Title"] = "Add new check";
}

<div class="row">
    <div class="col-sm-offset-1 col-sm-11">

        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>
        <p>Please make sure you fill in a valid url and at least ONE element to check.</p>

        <div class="row">
            <div class="col-sm-8">
                @using (Html.BeginForm("Add", "Website", FormMethod.Post)){
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "The name for the website goes here...", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Url)
                        @Html.TextBoxFor(m => m.Url, new { placeholder = "Your Url goes here...", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Url)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Element1)
                        @Html.TextBoxFor(m => m.Element1, new { placeholder = "Your first element goes here...", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Element1)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Element2)
                        @Html.TextBoxFor(m => m.Element2, new { placeholder = "Your second element goes here...", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Element2)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Element3)
                        @Html.TextBoxFor(m => m.Element3, new { placeholder = "Your third element goes here...", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Element3)
                    </div>
                    <input type="submit" />
                }
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</div>
