@model List<WebsiteModel>
@{
    ViewData["Title"] = "Index";

    if (Model.Count == 0)
    {
        <h2>There are no websites to be checked.<br /> Please start by adding one with the button below!</h2>
        @Html.ActionLink("Add Website", "Create", "Website", new { }, new { @class = "btn btn-primary" })
    }
    else
    {
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <h3>@ViewData["Message"]</h3>
                <hr />

                <dl class="dl-horizontal">

                    @foreach (var row in Model)
                    {
                        if (row.Url != null && row.Id != 0)
                        {
                            <dt>
                                @Html.DisplayNameFor(model => row.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => row.Name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => row.Url)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => row.Url)
                            </dd>
                            {
                                foreach (var element in row.Elements)
                                {
                                    <dt>
                                        @Html.DisplayNameFor(model => element.Name)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => element.Name)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => element.Status)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => element.Status)
                                    </dd>
                                }
                            }
                            <dt>
                                Details:
                            </dt>
                            <dd>
                                @Html.ActionLink("Details", "Details", new { @row.Id })
                            </dd>
                            <hr />
                        }
                        else
                        {
                            <dt>Error:</dt>
                            <dd>Unable te retreive data for this configuration!</dd>
                            <dt>
                                Message
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => row.Message)
                            </dd>
                            <hr />
                        }
                    }
                </dl>
                <div>
                    @Html.ActionLink("Add Website", "Create", "Website", new { }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
}
