@model List<WebsiteModel>
@{
    ViewData["Title"] = "Add new check";
}

<div class="row">
    <div class="col-sm-offset-1 col-sm-11">

        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>

        <table class="table-striped">
            <tr>
                <th class="col-sm-5">Url</th>
                <th class="col-sm-6">Elementen</th>
                <th class="col-sm-1">Details</th>
            </tr>
            @foreach (var row in Model)
            {
                <tr>
                    <td>@row.Url <br /></td>
                    <td>
                        @{
                            foreach (var element in row.Elements)
                            {

                                @element.Name <span>-</span>
                                @element.Status<span> || </span>

                            }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Website", new { @row.Id }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
