@model CovadisDashboard.Models.HomeCombinedModel;
@{
    ViewData["Title"] = "Homepage";
}

<div class="row">
    <div class="col-sm-12"><button id="refreshButton" class="btn btn-primary center-block">Refresh the results!</button></div>



    <div class="col-sm-offset-1 col-sm-5 rightBorder">
        <h1>API's to check</h1>
        @if (Model.websiteModel.Count() != 0)
        {
            <table class="table-striped">
                <tr>
                    <th class="col-md-2">Name:</th>
                    <th class="col-md-6">URL:</th>
                    <th class="col-md-2">Status:</th>
                    <th class="col-md-1">View:</th>
                </tr>

                @foreach (var website in Model.websiteModel)
                {
                    <tr>
                        <td>@website.Name</td>
                        <td>@website.Url</td>
                        @{
                            var error = false;
                            foreach (var element in website.Elements)
                            {
                                if (element.Status == "INCORRECT")
                                {
                                    error = true;
                                    break;
                                }
                            }
                            if (error)
                            {
                                <td>Error!</td>
                            }
                            else
                            {
                                <td>Correct</td>
                            }
                        }
                        <td>@Html.ActionLink("Details", "Details", "Website", new { @website.Id })</td>
                    </tr>
                }

            </table>
        }
        else
        {
            <h2>No websites to display!</h2>
        }
    </div>

    <div class="col-sm-5">
        <h1>Websites to check</h1>
        @if (Model.apiModel.Count() != 0)
        {
            <table class="table-striped">
                <tr>
                    <th class="col-md-4">Name:</th>
                    <th class="col-md-6">URL:</th>
                    <th class="col-md-2">Status:</th>
                </tr>

                @foreach (var api in Model.apiModel)
                {
                    <tr>
                        <td>@api.Name</td>
                        <td>@api.Url</td>
                        <td>@api.Status</td>
                        <td>@Html.ActionLink("Details", "Details", "Api", new { @api.Id })</td>
                    </tr>
                }

            </table>

        }
        else
        {
            <h2>No Apis to display!</h2>
        }
    </div>

    <div class="col-sm-offset-1 col-sm-11 rightBorder">
        <h2>Add new check</h2>
        @Html.ActionLink("Add Website", "Create", "Website", new { }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Add Api", "Create", "Api", new { }, new { @class = "btn btn-primary" })
    </div>
</div>